 #input
 {
    padding-top: 1px;
 } 
.huii

#box{
    text-align: center;
    margin: 2px;
    width: 65px;
    height: 50px;
    background-color: rgb(213, 217, 217);
    font-size: 20px;
    border-radius: 10%;
    
}
.screen{
    margin-top: 3px;
    width: 280px;
    height: 100px;
    margin-left: 4px;
    border: 2px solid black;
    background-color: rgb(238, 232, 232);
    font-size: 35px;
}
.border{
    border: 1px solid black;
    background-color: rgb(150, 184, 212);
    height: 380px;
    width: 290px;
}
#box1{
    text-align: center;
    margin: 2px;
    width: 65px;
    height: 50px;
    background-color: rgb(221, 190, 165);
    font-size: 20px;
    border-radius: 10%;
    
}

